* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.web {
    min-height: 800px;
    background-image: url(image/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.web .header {
    width: 100%;
    min-height: 800px;
    background-color: rgba(0, 0, 0, 0.267);
    position: relative;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 100%;
    position: fixed;
    margin: 0;
    background-color: rgba(226, 220, 214, 0.025);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-radius: 10px; */
    border-bottom: 1px solid rgb(123, 134, 131);
    z-index: 9999;
    animation: nav 2s 1 forwards;
}

@keyframes nav {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }
}

.navbaran {
    display: none;
}

@media (max-width: 1370px) {
    .navbar {
        display: none;
    }

    .navbaran {
        position: absolute;
        display: flex;
        justify-items: start;
        left: 15px;
        top: 10px;
        z-index: 999;
    }

    .navbaran #nav-childan {
        list-style-type: none;
        position: relative;
        transition: 0.5s;
        padding: 30px;
        color: #fff;
    }

    .navbaran #nav-childan:hover {
        color: orangered;
    }

    .navbaran #nav-childan .nav-childan {
        display: none;
        position: absolute;
        list-style-type: none;
        padding: 10px 20px;
        background-color: rgba(35, 48, 43, 0.782);

    }

    .navbaran #nav-childan .nav-childan #chuyennganhan {
        background-color: #26b1b8c2;
    }

    .navbaran #nav-childan .nav-childan a {
        display: flex;
        text-decoration: none;
        padding: 10px 40px;
        color: rgb(247, 242, 242);
        transition: 0.3s;
    }

    .navbaran #nav-childan .nav-childan a:hover {
        background-color: #26b1b8c2;
    }

    .navbaran #nav-childan:hover>ul.nav-childan {
        display: block;
    }
}

.logo a img {
    margin-left: 40px;
    margin-right: 10px;
    padding: 0 0px;
    height: 80px;
}

.navbar .nav-child {
    padding: 0 150px;
    display: flex;
}

.navbar .nav-child li {
    display: inline-block;
    list-style-type: none;
    /* padding: 0;
    margin: 0; */

}

.navbar .nav-child li a {
    text-decoration: none;
    padding: 31px 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgba(32, 29, 29, 0);
}

.navbar .nav-child li a:hover {
    color: black;
    transition: 0.5s;
    background: linear-gradient(125deg, rgb(88, 219, 136), rgb(200, 214, 205), rgb(210, 183, 183));
    box-shadow: inset 0 0px 30px rgb(101, 96, 32);
}

#formdndk a {
    margin-right: 30px;
    text-decoration: none;
    padding: 31px 20px;
    font-weight: bold;
    color: rgb(210, 222, 232);
}



.form {
    top: 200px;
    position: relative;
    width: 400px;
    height: 440px;
    background: linear-gradient(125deg, rgb(88, 121, 219), rgb(161, 216, 181), rgb(198, 166, 166));
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(244, 238, 238, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(20px);  làm mờ phần background */
}

.form-login-sign-up .form-box {
    width: 100%;
    padding: 40px;
}

.form-login-sign-up .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #162938;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login-sign-up .icon-close:hover {
    transition: 0.3s;
    background-color: #cd542c;
}

.form-box h2 {
    font-size: 30px;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 15px;
    color: #162938;
    font-weight: 550;
    transition: 0.5s;
    pointer-events: none;
    /* vô hiệu hóa trỏ chuột với label k cho copy... */
}

/* valid là bộ chọn để chọn các phần tử <input> mà giá trị của nó là "HỢP LỆ". 
ví dụ nếu nhập k đúng email thì khi không "focus" , "top label" sẽ trở lại bình thường */

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    /* xóa viền bao xung quanh input */
    font-size: 15px;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 6px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 17px;
    line-height: 57px;
}

.remember-forgot {
    font-size: 14px;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px 0;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    /* chuyển trỏ chuột thành bàn tay */
    color: #fff;
    font-weight: 550;
}

.login-sign-up {
    font-size: 14px;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px 0;
}

.login-sign-up p .sign-up-link {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
    margin-left: 1px;
}

.login-sign-up p .sign-up-link:hover {
    text-decoration: underline;
}

/* Sign up */

.form-login-sign-up {
    display: flex;
    justify-content: center;
    position: relative;
}

.form-sign-up {
    top: 200px;
    position: relative;
    width: 400px;
    height: 500px;
    background: linear-gradient(125deg, rgb(88, 121, 219), rgb(161, 216, 181), rgb(198, 166, 166));
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(244, 238, 238, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(20px);  làm mờ phần background */
}

.form-login-sign-up .container-inner {
    position: absolute;

}

.radio-box {
    display: none;
}


#login:checked~#dk {
    transition: 2s;
    z-index: 1;
    transform: scale(1.05);
}
#login:checked~#dn {
    opacity: 0;
}

#sign-up:checked~#dn {
    transition: 2s;
    z-index: 1;
    transform: scale(1.05);
}
#sign-up:checked~#dk {
    opacity: 0;   
}


