* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    /* cuộn mượt mà */
    scroll-behavior: smooth;
}

.header {
    background-image: url(image/sinhvien1-removebg-preview.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 600px rgb(81, 81, 156);
    position: relative;
    display: flex;
    justify-content: center;
}

.navbar {
    position: absolute;
    margin-top: 0px;
    padding: 0px;
    background-color: rgb(226, 220, 214);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: inset 0 0 20px rgb(50, 5, 5);
    z-index: 9999;
    animation: nav 1s 1 forwards;
    /* forwards nó sẻ dừng tại vị trí "to" chứ k quay về  */
}

@keyframes nav {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    100% {
        transform: translateY(50px);
        opacity: 1;
    }
}

.navbaran {
    display: none;
}

@media (max-width: 1400px) {
    .navbar {
        display: none;
    }

    .navbaran {
        position: absolute;
        display: flex;
        justify-items: start;
        left: 15px;
        top: 10px;
        z-index: 999;
    }

    .navbaran #nav-childan {
        list-style-type: none;
        position: relative;
        transition: 0.5s;
        padding: 30px;
    }

    .navbaran #nav-childan:hover {
        color: orangered;
    }

    .navbaran #nav-childan .nav-childan {
        display: none;
        position: absolute;
        list-style-type: none;
        padding: 10px 20px;
        background-color: rgba(187, 213, 116, 0.589);

    }

    .navbaran #nav-childan .nav-childan #trangchuan {
        background-color: #48dbaa;
    }

    .navbaran #nav-childan .nav-childan a {
        display: flex;
        text-decoration: none;
        padding: 10px 40px;
        color: rgb(32, 29, 29);
        transition: 0.3s;
    }

    .navbaran #nav-childan .nav-childan a:hover {
        background-color: #48dbaa;
    }

    .navbaran #nav-childan:hover>ul.nav-childan {
        display: block;
    }
}

.logo a img {
    margin-left: 20px;
    margin-right: 10px;
    padding: 0 0px;
    height: 80px;
}

.navbar .nav-child {
    padding: 0 150px;
    display: flex;
}

.navbar .nav-child li {
    display: inline-block;
    list-style-type: none;
    /* padding: 0;
    margin: 0; */

}

.navbar .nav-child li a {
    text-decoration: none;
    padding: 31px 20px;
    font-weight: bold;
    color: rgb(156, 72, 69);
    transition: 0.5s;
    border-bottom: 3px solid rgba(32, 29, 29, 0);
}

.navbar .nav-child li a:hover {
    color: black;
    background-color: #ceda26;
    box-shadow: inset 0 0px 30px rgb(101, 96, 32);
}

#formdndk a {
    text-decoration: none;
    padding: 31px 20px;
    font-weight: bold;
    color: rgb(143, 39, 39);
    transition: 0.5s;
}

#formdndk a:hover {
    color: rgb(11, 139, 243);
}

#trangchu a {
    background-color: #ceda26;
    box-shadow: inset 0 0 30px rgb(101, 96, 32);
    color: black;
}

.search {
    position: absolute;
    top: 200px;
    padding: 20px;
    display: flex;
    animation: search 2s 1 forwards;
}

@keyframes search {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }
}

.search input {
    width: 400px;
    padding: 7px 15px;
    border-radius: 20px;
    font-size: larger;
    border: 2px solid black;
}

.search button {
    padding: 7px 15px;
    border-radius: 20px;
    font-size: larger;
    border: 2px solid black;
    z-index: 10;
    margin-right: 10px;
}

@media (max-width: 900px) {
    .search form {
        display: none;
    }
}

.web .messenger {
    position: fixed;
    right: 20px;
    top: 180px;
}

.web .messenger a {
    font-size: 40px;
    color: rgb(69, 69, 181);
    transition: 0.3s;
}

.web .messenger a:hover {
    /* font-size: 50px; */
    transform: scale(1.1);
    color: blue;
}

marquee {
    font-size: larger;
    font-weight: bold;
    text-shadow: 0 0 10px;
    color: rgb(118, 165, 42);
    margin: 0;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(215, 215, 233);
}


body .container {
    /* font-family: "Roboto", sans-serif; */
    font-size: 100%;
}

/* .container{} */
.container .title {
    margin-top: 50px;
    padding: 10px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
}

.container .title h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.container .title p {
    color: rgb(198, 142, 142);
    font-size: large;
    text-shadow: 0 0 20px #b1572380;
}

/* .container-subject{
    padding-right: 60px ;
    padding-left: 60px;
} */
.container .subject {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 40px 40px 40px;
}

.container .subject .box {
    max-width: 370px;
    max-height: 450px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: rgba(139, 129, 129, 0.199);
    box-shadow: 0px 0px 10px rgba(76, 158, 196, 0.662);
    border-radius: 10px;
    transition: 0.3s;
}

.container .subject .box:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 15px rgba(24, 26, 24, 0.662);

}

.container .subject img {
    max-width: 360px;
    max-height: 233px;
    border-top-left-radius: 10px;
}

.subject .box-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.subject .box-text h3 {
    font-weight: bold;
    padding: 10px 0;
}

.subject .box-text span {

    margin-right: 5px;
}

.subject .box-text a {
    padding: 10px 0;
    color: red;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}

.subject .box-text a:hover {
    color: rgb(51, 46, 46);
}

.subject .box-text p {
    font-family: "Roboto", sans-serif;
    color: rgb(103, 85, 79);
}

.box-search {
    background-image: url(image/banner-search.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 500px rgba(0, 0, 0, 0.714);
}


.box-search p {
    font-size: 20px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.box-search h1 {
    text-align: center;
    color: white;
    font-size: 45px;
    padding-bottom: 15px;
}

.box-search .search-inner .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-search .search-inner input {
    width: 550px;
    padding: 14px 15px;
    margin-bottom: 15px;
    font-size: large;
    border-radius: 10px;
}

.box-search .search-inner input:focus{
    border: solid white;
    box-shadow: 0 0 9px rgb(226, 216, 196);
}

.box-search .search-inner button {
    width: 120px;
    padding: 9px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: rgb(237, 106, 58);
    border: none;
    transition: 0.3s;
}
.box-search .search-inner button:hover{
    background-color: rgb(195, 62, 13);
}





/*  */
.container .new-subject {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container .box-big {
    background-color: #beda913c;
    padding: 30px;
}

.container .new-subject .new-box {
    max-width: 350px;
    max-height: 500px;
    margin-bottom: 50px;
    background-color: rgb(249, 244, 244);
    box-shadow: 0px 0px 15px rgba(50, 128, 192, 0.662);
    border-radius: 5px;
    transition: 0.3s;
}

.container .new-subject .new-box:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px rgba(25, 26, 27, 0.662);
}

.container .new-subject img {
    max-width: 350px;
    max-height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.new-subject .box-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
}

.new-subject .box-text-inner .loai {
    color: orangered;
    padding-bottom: 5px;
}

.new-subject .box-text-inner h3 {
    padding-bottom: 17px;
}

.new-subject .box-text-inner .thongtin {
    padding-top: 13px;
    color: black;
}

.new-subject .thongtin i {
    padding-bottom: 5px;
    padding-right: 2px;
    color: rgb(255, 77, 0);
}

.new-subject .box-text-inner p {
    color: rgb(103, 85, 79);
}

.container .content-center .inner {
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
    flex-wrap: wrap;
    /* background-color: #b8dbce45; */
}


.container .inner .img-inner {
    display: flex;
    flex: 1;
    justify-content: end;
}

.container .inner .img-inner img {
    max-width: 546px;
    height: 404px;
}

.container .inner .box-content-inner {
    flex: 1;
}

.inner .text-padding {
    padding-left: 30px;
    margin-right: 70px;
    text-align: center;
}

.inner .box-icon-text {
    display: flex;
    justify-content: space-around;
}

.inner .box-icon-text .box-icon-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.inner .box-icon-text .icon {
    font-size: 50px;
    color: orangered;
    padding-bottom: 20px;
}

.container .inner h1 {
    font-size: 40px;
    margin-bottom: 20px;

}

.container .inner p {
    font-size: large;
    margin-bottom: 30px;
    margin-left: 3px;
    font-family: "Roboto", sans-serif;
    color: #7b6f6f;
}

.container .introduce-teacher {
    background: linear-gradient(-45deg, rgb(244, 247, 247), rgb(186, 211, 220), rgb(142, 209, 218));
    /* màu biến đổi tuyến tính*/
    padding: 30px;
}

.container .introduce-teacher .container-teacher {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px 80px;
    margin-bottom: 10px;

}

.container .introduce-teacher .container-teacher .box-teacher {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    height: 571px;
    margin: 0 0 10px 0;
    flex: 1;
}

.container-teacher .box-teacher .box-nameteacher {
    text-align: center;
    padding: 20px 90px;
    font-size: large;
    background-color: #bfc8b3ce;
    border-bottom: 2px solid rgba(142, 129, 102, 0.993);
    border-radius: 4px;
}

.container-teacher .box-teacher .box-nameteacher p {
    color: rgb(209, 119, 23);
}

.container .doitac {
    padding: 30px;
}

.container .doitac .box-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
}


.web .arrow {
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 9999;
    transition: 1s;
}

.web .arrow:hover {
    transform: rotate(360deg);
}

.web .arrow a {
    font-size: 15px;
    color: rgb(86, 80, 80);
    transition: 0.3s;
    padding: 9px 12px 9px 12px;
    background-color: #edeed900;
    border-radius: 50px;
    border: 2px solid rgb(86, 80, 80);
}

.web .arrow a:hover {
    /* font-size: 50px; */
    transform: scale(1.1);
    background-color: rgb(126, 207, 28);

}



footer {
    background-image: url(image/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    padding-top: 100px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

footer .footernav {
    width: calc(25%-30px);
    padding: 10px;
}

footer h3 {
    color: #57dfe7;
}

footer .footernav .text {
    width: 300px;
    color: rgb(177, 197, 215);
}

footer .footernav .text1 {
    margin-top: 15px;
    font-size: 20px;
}

footer .footernav .text1 a:hover {
    color: blue;
}

footer li {
    list-style-type: none;
    color: rgb(177, 197, 215);
    padding-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: rgb(177, 197, 215);
    transition: 0.5s;
    padding: 5px;
}

footer a:hover {
    color: red;
}

footer .footernav .content {
    margin-top: 20px;
}

footer .footernav .news {
    display: flex;
    flex-wrap: wrap;

}

footer .footernav .news img {
    width: 100px;
    padding-right: 10px;
}

.banquyen {
    background-color: rgb(64, 55, 55);
    text-align: center;
    padding: 15px;
    color: aqua;
}